$red: #ff6961;
$green: #5cce89;

$main1: #e3ebff;
$main: #e3ebff;
$commentcolor: #c5d0ec;

$accent1: #e58053;
$accent2: #32326b;


$background: #ceceef;

$color_1: white;
$color_2: white;
$color_3: white;

$curve: 10px;