* {
    margin: 0;
    padding: 0;
}

#logout {
    display: none;
}

.inputbutton {
    height: 40px;
    margin: 20px 0;
    display: inline-flex;

}

.inputbutton button {
    height: 100%;
    padding: 0 6px;
}


.inputbutton select {
    width: 40px !important;
}

.inputbutton input {
    height: 100%;
    font-size: 17px;
    width: 180px;
}

#cont {
    margin: 40px;
}

#studentdrop, #teacherdrop {
    width: 170px;
    height: fit-content;
    background: #232849;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}


.user {
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}

.user:hover {
    background: rgba(255, 255, 255, 0.2);
}