
<html>
    <head>
        <title>E</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <meta name="google-signin-client_id" content="203450520052-4olsv1k1uj6ditok97qncbho9n8usk36.apps.googleusercontent.com">
    </head>
    <body>
        <div id="cont">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <a href="#" id="logout" onclick="signOut();">Sign out</a>
            <div id="update"></div>
            <div id="offcampus"></div>

            
                {% if teacher %}
                <div class="inputbutton offcampus">
                        <input type="text" id="studentinput" placeholder="Student">
                        <div id="studentdrop" style="display: none"></div>
                        <select id="offcampusinput">
                            <option value=1>Yes</option>
                            <option value=0 selected>No</option>
                        </select>
                        <button id="studentbutton">Set Offcampus</button>
                </div><br>
                {% endif %}
            
            
                {% if admin %}
                <div class="inputbutton addteacher" v-bind:title="message">
                    <input type="text" id="teacherinput" placeholder="Teacher">
                    <div id="teacherdrop" style="display: none"></div>
                    <select id="teacherselect">
                        <option value=2>Yes</option>
                        <option value=1 selected>No</option>
                    </select>
                    <button id="teacherbutton">Set Teacher</button>
                </div>
                {% endif %}
            

            
                <ul class="users">
                </ul>
            

        </div>
    </body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> Dev vue, update to production version upon release -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        var admin = "{{admin}}"
        var teacher = "{{teacher}}"
    </script>

    <script src="/static/main.js"></script>
</html>