<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Salmon ATI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <meta name="google-signin-client_id" content="203450520052-4olsv1k1uj6ditok97qncbho9n8usk36.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>

    <link rel="stylesheet" type="text/css" href="%% url_for('static', filename='css/style.scss.css') %%">

    <script src="https://apis.google.com/js/api.js"></script>

</head>
<body>
    <div id="app">
            <div class="row controw">
                <div class="col-2 col-sm-2">
                    <div class="sidebar col-sm-12 col-xl-8 z-depth-2">
                        <div class="row vertical-center">
                            <button type="button" id="customBtn" @click="signin()" class="z-depth-1 btn waves-effect waves-light mx-auto">
                                <i class="fab fa-google"></i> &nbsp;{{loggedin ? "Logout" : "Login"}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-xl-5"></div>
                <div class="col-4 col-xl-3 totals">
                    <div v-if="loggedin">
                        <div class="row">
                            <div class="col-12 chart z-depth-1">
                                <div class="hascampus" :class="{yescampus: redpercent() == 0, nocampus: redpercent() !== 0}">{{redpercent() == 0 ? "You have offcampus" : "You don't have offcampus"}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 percentage z-depth-1">
                                <div class="balltop">Red in</div>
                                <div class="ball">{{redpercent()}}%</div>
                                <div class="ballbottom">Of classes</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-xl-2 col-lg-3">
                    <div data-simplebar data-simplebar-auto-hide="false">
                        <div class="card col-12">
                            <div v-for="stat in classtype(false)" class="redclass-item card mx-auto">
                                <div class="title" :style="titleSize(stat)">{{stat.name}}</div>
                                <span class="subtext">Missing</span>
                            </div>
                            <div v-for="stat in classtype(true)" class="greenclass redclass-item card mx-auto">
                                <div class="title" :style="titleSize(stat)">{{stat.name}}</div>
                                <span class="subtext">Completed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ruler"></div>
    </div>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>

    <script src="https://unpkg.com/fuse.js"></script>
    <script src="https://unpkg.com/toastr"></script>
    <script src="https://unpkg.com/simplebar"></script>
    <script src="%% url_for('static', filename='js/main.js') %%"></script>
    <script>
        app.teacher = "%%teacher%%" == "True"
        app.admin = "%%admin%%" == "True"
    </script>
</body>
</html>